---
import type { TagType } from 'types/tags'

interface Props {
	technologies: TagType[]
}

const { technologies } = Astro.props
---

<ul class="sm: flex w-full items-center justify-start gap-4 sm:justify-start">
	{
		technologies.map(({ source, iconClass, alt, icon }) => (
			<li>
				<a href={source} class:list={['flex h-8 w-8 justify-center', iconClass]} target="_blank">
					<img alt={alt} src={icon} class="object-contain transition-transform hover:scale-110" />
				</a>
			</li>
		))
	}
</ul>
