---
import type { TagType } from "types/tags";
interface Props {
  tag: TagType;
}

const {
  tag: { source, iconClass, icon, alt },
} = Astro.props;
---

<a
  href={source}
  class:list={["flex justify-center", iconClass]}
  target="_blank"
>
  <img
    alt={alt}
    src={icon}
    class="object-contain w-8 h-8 transition-transform hover:scale-110"
  />
</a>
