---
import Heading from '@components/Heading.astro'
import JobList from '@components/JobList/index.astro'
import Section from '@components/Section.astro'
import type { SectionType } from 'types/index'
import { getJobs } from '@services/jobs'

interface Props {
	id?: SectionType
}

const { id = '' } = Astro.props

const jobs = await getJobs()
---

<Section class="p-layout flex items-start" id={id}>
	<div class="mt-20 flex w-full flex-col gap-20">
		<Heading size="h3">Professional experience</Heading>
		<JobList {jobs} />
	</div>
</Section>
