---
import Heading from "@components/Heading.astro";
import Text from "@components/Text.astro";
import Underline from "@components/Underline.astro";
import Section from "@components/Section.astro";
import type { SectionType } from "types/index";

interface Props {
  id?: SectionType;
}

const { id = "" } = Astro.props;
---

<Section
  class="flex flex-col items-center justify-end gap-10 p-layout md:justify-between md:flex-row md:gap-20"
  id={id}
>
  <div class="flex flex-col gap-6">
    <Heading>
      Hi! <br class="hidden sm:block" />
      My name is <span class="relative">Baltazar <Underline /></span>
    </Heading>
    <Text size="p3" class="text-zinc-400">
      Frontend developer who aims to specialize in crafting user interfaces with
      React, focusing on performance and clean code to ensure a smooth and
      engaging user experience.
    </Text>
  </div>
  <div class="flex items-center justify-center w-full">
    <img
      src="https://media.licdn.com/dms/image/C4D03AQFZmnDXYoOZXQ/profile-displayphoto-shrink_800_800/0/1657043417177?e=1697068800&v=beta&t=VgvD5mGOOYFSoxuN6BAGWd0sl27URYS_d3nfm1zXZ0Y"
      class="w-full max-w-[300px] sm:min-w-[300px] rounded-full border-2 border-zinc-200 dark:border-zinc-800"
    />
  </div>
</Section>
