---
import Section from "@components/Section.astro";
import ProjectList from "@components/ProjectList/index.astro";
import { getProjects } from "@services/projects";
import type { SectionType } from "types/index";

const projects = await getProjects();

interface Props {
  id?: SectionType;
}

const { id = "" } = Astro.props;
---

<Section id={id} class="flex flex-col">
  <ProjectList {projects} />
</Section>
