---
import ExperienceSection from "@components/Sections/Experience.astro";
import PresentationSection from "@components/Sections/Presentation.astro";
import ProjectsSection from "@components/Sections/Projects.astro";
import { SECTIONS } from "@constants/index";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Baltazar's Portfolio">
  <main class="relative">
    <PresentationSection id={SECTIONS[0]} />
    <ExperienceSection id={SECTIONS[1]} />
    <ProjectsSection id={SECTIONS[2]} />
  </main>
</Layout>
