---
import GitHubIcon from '@components/Icons/GitHubIcon.astro'
import LinkedInIcon from '@components/Icons/LinkedInIcon.astro'
import PlatziIcon from '@components/Icons/PlatziIcon.astro'
import MailIcon from '@components/Icons/MailIcon.astro'
import SocialItem from './SocialItem.astro'
import Text from '@components/Text.astro'

interface Props {
	labels?: boolean
	class?: string
}

const { labels = false, class: className } = Astro.props
---

<ul class={className}>
	<SocialItem href="https://www.linkedin.com/in/baltazar-andersson/">
		<div class="shrink-0">
			<LinkedInIcon />
		</div>

		{
			labels && (
				<Text size="p2" class="hidden sm:inline">
					Baltazar Andersson
				</Text>
			)
		}
	</SocialItem>

	<SocialItem href="mailto:baltazardevv@gmail.com">
		<div class="shrink-0">
			<MailIcon />
		</div>

		{
			labels && (
				<Text size="p2" class="hidden sm:inline">
					baltazardevv@gmail.com
				</Text>
			)
		}
	</SocialItem>

	<SocialItem href="https://github.com/baltazarandersson">
		<div class="shrink-0">
			<GitHubIcon />
		</div>

		{
			labels && (
				<Text size="p2" class="hidden sm:inline">
					@baltazarandersson
				</Text>
			)
		}
	</SocialItem>

	<SocialItem href="https://platzi.com/p/baltazarander/">
		<div class="shrink-0">
			<PlatziIcon />
		</div>

		{
			labels && (
				<Text size="p2" class="hidden sm:inline">
					@baltazarander
				</Text>
			)
		}
	</SocialItem>
</ul>
