---
import GitHubIcon from '@components/Icons/GitHubIcon.svelte'
import LinkedInIcon from '@components/Icons/LinkedInIcon.svelte'
import PlatziIcon from '@components/Icons/PlatziIcon.svelte'
import MailIcon from '@components/Icons/MailIcon.svelte'
import SocialItem from './SocialItem.svelte'
import Text from '@components/Text.astro'

interface Props {
	labels?: boolean
	class?: string
}

const { labels = false, class: className } = Astro.props
---

<ul class={className}>
	<SocialItem client:idle href="https://www.linkedin.com/in/baltazar-andersson">
		<div class="shrink-0">
			<LinkedInIcon client:idle />
		</div>

		{
			labels && (
				<Text size="p2" class="hidden sm:inline">
					Baltazar Andersson
				</Text>
			)
		}
	</SocialItem>

	<SocialItem client:idle href="mailto:baltazardevv@gmail.com">
		<div class="shrink-0">
			<MailIcon client:idle />
		</div>

		{
			labels && (
				<Text size="p2" class="hidden sm:inline">
					baltazardevv@gmail.com
				</Text>
			)
		}
	</SocialItem>

	<SocialItem client:idle href="https://github.com/baltazarandersson">
		<div class="shrink-0">
			<GitHubIcon client:idle />
		</div>

		{
			labels && (
				<Text size="p2" class="hidden sm:inline">
					@baltazarandersson
				</Text>
			)
		}
	</SocialItem>

	<SocialItem client:idle href="https://platzi.com/p/baltazarander">
		<div class="shrink-0">
			<PlatziIcon client:idle />
		</div>

		{
			labels && (
				<Text size="p2" class="hidden sm:inline">
					@baltazarander
				</Text>
			)
		}
	</SocialItem>
</ul>
