---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<li
  class="list-none transition-all duration-200 hover:scale-105 dark:bg-zinc-200/10 bg-zinc-00/10 rounded-lg dark:hover:text-orange-400 hover:text-orange-500 dark:hover:bg-amber-400/10 hover:bg-amber-600/10 w-full backdrop-blur-3xl"
>
  <a
    {href}
    target="_blank"
    rel="noreferrer"
    class="flex justify-center items-start gap-4 px-8 py-4"><slot /></a
  >
</li>
