---
interface Props {
	href: string
}

const { href } = Astro.props
---

<li
	class="list-none rounded-lg bg-zinc-400/10 backdrop-blur-3xl transition-all duration-200 hover:scale-105 hover:bg-amber-600/10 hover:text-orange-500 dark:bg-zinc-200/10 dark:hover:bg-amber-400/10 dark:hover:text-orange-400"
>
	<a {href} target="_blank" rel="noreferrer" class="flex items-start justify-center gap-4 px-8 py-4"
		><slot /></a
	>
</li>
